@{ Layout = "_LayoutUser"; }


<br />
<img src="~/img/PUB.jpg" width="990" alt="Alternate Text" />
<br />
<hr />
<br />
<br />
<h2 style="text-align:center"> Angkatan 16 (MALWARE) </h2>
<br />
<img src="~/img/Malware.jpeg" width="990" alt="Alternate Text" />
<br />
<br />
<h2 style="text-align:center"> Angkatan 17 (FIREWALL) </h2>
<br />
<img src="~/img/Firewall.jpeg" width="990" alt="Alternate Text" />
<br />
<br />
<h2 style="text-align:center"> Angkatan 18 (JARVIS) </h2>
<br />
<img src="~/img/jarvis.jpg" width="990" alt="Alternate Text" />
<br />
<br />
<h2 style="text-align:center"> Angkatan 19 (NEOPHYTE) </h2>
<br />
<img src="~/img/neophyte1.jpg" width="990" alt="Alternate Text" />
<img src="~/img/neophyte3.jpg" width="990" alt="Alternate Text" />
<br />
<br />
<h2 style="text-align:center"> Angkatan 20 (INTEGER) </h2>
<br />
<img src="~/img/Integer.jpg" width="990" alt="Alternate Text" />
